<p id="notice"><%= notice %></p>

<h1>Todo List</h1>

 <!-- Left side -->
<div class="level-left">
 <p class="level-item">   
  <%= search_form_for @q do |f| %>  
    
  <%= f.label :name_cont %>
  <%= f.search_field :name_cont %>  
      
  <%= f.select :combinator, [['E','and'],['OU','or']] %></br>

  <%= f.label :status_eq %>
  <%= f.select :status_eq, Todo.statuses.to_a.map { |w| [w[0].humanize, w[1]] },{:include_blank=> "Selecione o Status"} %>   

  <%= f.submit %>
  
<% end %>         
 </p>         
      
</div>

<table>
  <thead>
    <tr>
      <th><%= sort_link(@q, :name) %></th>
      <th><%= sort_link(@q, :status) %></th>
      <th>&nbsp;&nbsp;Tarefas</th>
      <th>&nbsp;&nbsp;Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.name %></td>
        <td><%= todo.status %></td>
        <td>&nbsp;<%= todo.jobs.count %></td>
        <td><%= link_to 'Show', todo %></td>
        <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
        <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
 <%= will_paginate @todos %>
<br>
<p>
<%= link_to 'Nova TodoList', new_todo_path %>
</p>
<p>
<%= link_to 'Nova Tarefa', new_job_path %>
</p>
<p>
<%= link_to 'Página Inicial', 'welcome/index' %>
</p>